@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://use.typekit.net/ocr3ajf.css");

:root {
    --bg-color: white;
    --secondary-color: #F8611D;
    --black-color: #000000;
    --optional-color: #B9DEF1;
    --logo-font: 'Pacifico', cursive;
    --font: omnes-pro, sans-serif;
}

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

a {
    color: var(--black-color);
}

/* ---------- header -------*/
.header {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px;
    height: 10vh;
    display: flex;
    padding: 0 10px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 3;
}

.bckg-filter {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1;
    background-color: white;
    transition: transform 0.5s ease-in;
    position: absolute;
}

.logo-symfony {
    font-family: var(--logo-font);
    font-size: 2.0rem;
    margin: 0 0 0 auto;
    padding-left: 45px;
}
.logo-symfony a {
    color: var(--secondary-color);
}

.nav-links {
    padding: 15px 0;
}



.nav-links a {
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 30px;
}

.link-ico {
    min-width: 47.81px;
    text-align: center;
    font-size: 2.0rem;
}

.icon-soundtracks {
    font-size: 3rem;
}

.icon-ico-news {
    font-size: 1.8rem;
}

.header .link-header {
    position: relative;
    overflow: hidden;

}

.header .link-header::before {
    top: 90%;
    transform: translate(-50%);
    left: 50%;
    content: "";
    z-index: -10;
    position: absolute;
    background-color: #f4c7ab;
    width: 0%;
    border-radius: 30px;
    height: 10%;
    transition: all 0.6s ease;
}

.header .container-nav a:hover::before,
.header .container-nav a:hover {
    color: #b2b8a3;
    width: 100%;
}

.header>a {
    display: block;
}

.nav-links {
    position: fixed;
    width: 100%;
    top: 10.1vh;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg-color);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    padding: 0;
    height: calc(100vh - 10vh);
    z-index: 2;


}

.nav-links li {
    opacity: 0;

}

.nav-link {
    padding: 35px;
}


.nav-active {
    transform: translateX(0%);

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}


.link-header {
    font-size: 1.8rem;
}

.burger {
    display: block;
    margin: 0 0 0 auto;
    width: 45px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.burger div {
    border-radius: 3px;
    background-color: black;
    width: 100%;
    height: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-13px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-13px, -6px);
}

/* ---------------------- main -----------------*/

main {
    padding: 12vh 15px 0 15px;
    margin-bottom: 15vh;

}

.search-header {
    min-width: 300px;
    max-width: 600px;
    padding: 10px 20px;
    margin: 0 auto;
}

#search {

    border: 1px solid var(--secondary-color);
    height: 36px;
    border-radius: 50px;
    padding-left: 35px;
    margin: 0 auto;
    width: 100%;
}

#search::placeholder {
    font-family: var(--font);
}

.label-search {
    position: relative;
}

.label-search i {
    position: absolute;
    font-size: 0.8rem;
    top: 7px;
    left: 10px;
}

.page-title {
    font-size: 2rem;
    font-weight: 600;
}

/* ----------music list------------*/
.musics-list {
    width: 100%;

}

/* ----------music item------------*/
.music-item {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    margin: 12px 0;
    gap: 10px;
    transition: box-shadow 0.1s ease-in, height 0.1s ease-in;
}

.music-cover {
    width: 72px;
    height: 100%;
}

.music-cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.ctrl-btn {
    color: white;
    position: absolute;
    font-size: 1.7rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.music-info {
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex: 3;

}

.music-info span {
    display: block;
}

.more-info {
    display: none;
}

.music-title {
    font-size: 1.5rem;
    font-weight: 500;

}

.album-name:hover,
.music-artist:hover,
.album-title:hover,
.artist-title:hover {
    color: var(--secondary-color);
}

.music-artist {
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--black-color);
    transition: color 0.2s ease-in;
}

.album-name {
    font-size: 1.5rem;
    font-weight: 500;
    flex: 2;
    transition: color 0.2s ease-in;
}

/* ----------panel-music-controll------------*/
.ctrl-panel {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;

}

.container-panel {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    padding: 6.5px 10px;
    height: 11vh;
}

.msc-played {
    display: flex;
}

.pnl-music-info {
    padding: 0 10px;
}

.pnl-music-info span {
    display: block;
}

.timeline {
    display: flex;
    align-items: center;
    bottom: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 12px;
    text-align: center;
}

.timeline span {
    font-weight: 600;
    flex: 0.5;
    color: rgb(27, 27, 27);
}

#timeline {
    background-color: var(--black-color);
    width: 80%;
    flex: 4;
    margin: 0 auto;
    border-radius: 50px;
    height: 7px;
}

#progress {
    width: 0%;
    border-radius: 50px;
    background-color: var(--secondary-color);
    height: 7px;
}

.music-control {
    margin: 0 20% 0 auto;
}

.ctrl-btns {
    width: 100px;
    font-size: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 15px;
}

.action-btn {
    background-color: white;
    border: 0;
    font-size: 2rem;
    cursor: pointer;
}

.action-btn-big {
    font-size: 30px;
}


/*------------Album section ------------*/

.album-list {
    display: grid;
    max-width: 1500px;
    width: 100%;
    height: auto;
    margin: 10px 0;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: space-between;
    grid-gap: 20px
}

.album-item {
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin: 10px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 350px;
    height: 200px;
    border-radius: 5px;
    height: 100px;
    transition: height 0.1s ease-in, box-shadow 0.1s ease-in;
}

.album-item:hover {
    height: 105px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.cover-album {
    width: 99px;
}

.cover-album img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.album-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.album-title {
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 0.1s ease-in;
}

.artist-title {
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.1s ease-in;
}


/*------------ Main artists ------------*/
.artists-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    width: 100%;
    max-width: 1700px;
    justify-content: space-between;
    grid-gap: 32px;
}

.artist-it a {
    color: var(--black-color);
}

.artist-it {
    cursor: pointer;
    padding: 23px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    transition: width 0.2s ease-in;
    height: auto;
}

.artist-it:hover {
    width: 103%;
}

.artist-img {
    width: 100%;
    border-radius: 5px;
}

.artist-img img {
    width: 100%;
    min-height: 128px;
    max-height: 135px;
    border-radius: 5px;
    object-fit: cover;
}

.artist-name {
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.2s ease-in;
}

.artist-name:hover {
    color: var(--secondary-color);
}

.pge-album-arts {
    grid-column: 1/-1;
    height: 50px;

}

.album-artist {
    margin-top: 50px;
}

/*------------artist(id) page ------------*/
.cover-art {
    min-width: 200px;
    width: 280px;
    border-radius: 5px;

}

.cover-art img {
    width: 100%;
    border-radius: 5px;

}

.head-art {
    display: flex;
    gap: 60px;
    align-items: flex-end;

}

.info-art h2 {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 40px;

}

.tags {
    font-size: 1.7rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
}


.pge-album-arts {
    height: 20px;
    grid-column: 1/-1;

}

/*------album(id)-----*/
.cover-alb {
    min-width: 200px;
    width: 280px;
    border-radius: 5px;

}

.cover-alb img {
    width: 100%;
    border-radius: 5px;

}

.head-albm {
    display: flex;
    gap: 60px;
    align-items: flex-end;

}

.info-alb h2 {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 40px;

}

.art-tag {
    font-size: 1.7rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
}


.pge-album-arts {
    height: 20px;
    grid-column: 1/-1;

}

.clr-active-head {
    color: var(--secondary-color) !important;
}

/* -------------login------------*/
.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#B9DEF1,
            #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right,
            var(--secondary-color),
            #f09819);
    right: -30px;
    bottom: -80px;
}

form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}



::placeholder {
    color: #e5e5e5;
}

.btn-primary {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: var(--secondary-color);
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

.src-audio {
    color: green;
    display: none !important;
}

/*------------articles--page ------------*/

.articles-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 558px);
    grid-column-gap: 2px;
    grid-row-gap: 20px;
    justify-content: space-between;
}

.pge-articles {
    grid-column: 1/-1;
}

.article-item {
    display: flex;
    max-width: 540px;
    max-height: 180px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.arcl-img {
    flex: 2;
}

.arcl-img img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-article {
    flex: 3;
    padding: 5px 10px;
}

.ttl-article {
    margin: 5px 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.4rem;
    transition: color 0.2s ease;
    cursor: pointer;
}

.rsm-article {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.3rem;
    max-height: 63px;
    overflow: hidden;
}

.art-pub-tag {
    margin: 5px 0;
}

.author-name {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.2s ease;
    cursor: pointer;
}

.author-name:hover,
.ttl-article:hover {
    color: var(--secondary-color);
}

.date-post {
    font-weight: 300;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
}

/*------------article--view ------------*/
.article {
    padding: 20px 20px;
}

.header-article {
    display: flex;
}

.article-img {
    min-width: 350px;
    flex: 1;
    width: 100%;

}

.article-img img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.art-content {}

.info-artcl {
    flex: 2;
    padding: 30px 30px 0 30px;

}

.title-artc {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 50px;
}

.author-artc {
    font-size: 1.4rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
    display: block;
}

.content {
    padding: 20px 0;
    font-size: 1.3rem;
    font-weight: 400;
}

.date-pub {
    display: block;
}


@media all and (min-width: 968px) {

    /*------------header ------------*/
    .header {
        height: 100vh;
        width: 20%;
        z-index: 1;
        flex-direction: column;
        align-items: center;
    }

    .logo-symfony {
        margin: 0 0 0 0;
        padding: 20px 0 0 0;
        flex: 0.5;
    }

    .ctrl-panel {
        z-index: 1;
    }

    .burger {
        display: none;
    }

    /*------------Msuiques main ------------*/
    main {
        padding: 5vh 15px 0 calc(20% + 15px);
    }

    .nav-links {
        position: initial;
        background-color: rgba(0, 0, 0, 0.0);
        box-shadow: none;
        transform: translateX(0);
        display: initial;
        flex: 1;
    }

    .nav-links li {
        opacity: 1;
    }

    .nav-link {
        padding: 25px;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .link-ico {
        font-size: 1.6rem;
    }

    .nav-link a:hover span {
        color: var(--secondary-color);
        transition: color 0.2s ease-in;
    }


    /*------------player ctrl ------------*/
    .timeline {
        position: initial;
        flex: 3;
    }

    .music-control {
        display: flex;
        flex: 4;
        justify-content: flex-end;
        margin: 0;
    }

    .msc-played {
        flex: 2;
    }

    .ctrl-btns {
        flex: 1;
    }
}