{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<main>
    <div class="article">
        <div class="header-article">
            <div class="article-img"><img src="" alt="image-article">
            </div>
            <div class="info-artcl">
                <h3 class="title-artc"></h3>
                <span class="author-artc"></span>
                <span class="date-pub"></span>
            </div>
        </div>
        <div class="content">
            <p></p>
        </div>
    </div>
</main>
{% endblock %}