<div class="ctrl-panel">
    <div class="container-panel">
        <div class="msc-played">
            <div class="music-cover cover-played">
                <img src="" alt="music-cover">
            </div>
            <div class="pnl-music-info">
                <span class="music-title title-played"></span>
                <span class="music-artist artist-played"></span>
            </div>
        </div>
        <div class="music-control">
            <div class="ctrl-btns">
                <button id="prev" class="action-btn">
                    <i class="fas fa-step-backward"></i>
                </button>
                <button id="play" class="action-btn action-btn-big">
                    <i class="fas fa-circle-play"></i>
                </button>
                <button id="next" class="action-btn">
                    <i class="fas fa-step-forward"></i>
                </button>
            </div>
            <div class="timeline">
                <span class="pgs-duration">0</span>
                <div id="timeline">
                    <div id="progress"></div>
                </div>
                <span class="music-duration">3:55</span>
            </div>

        </div>
    </div>
</div>