{% extends 'base.html.twig' %}

{% block title %}Hello ArtistesController!{% endblock %}

{% block body %}
<main class="main-artists">
    <div class="search-header">
        <label class="label-search" for="search"><i class="fas fa-search"></i>
            <input type="text" name="search" id="search" placeholder="RECHERCHER">
        </label>
    </div>

    <div class="artists-list">
        <h1 class="page-title pge-album-arts">
            Artistes
        </h1>
        {% for artiste in artistes %}
        <div class="artist-it">
            <a href="{{ path('view_artiste',{'id': artiste.id} )}}">
                <div class="artist-img"><img src="{{asset('img/artists/peggy-gou.jpg')}}" alt=""></div>
                <span class="artist-name">{{ artiste.nom }}</span>
            </a>
        </div>
        {% endfor %}


    </div>
</main>




{% endblock %}